RestApi/src/wsdl/localhost_8080/WsSOAP/WebServiceA.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://Servicos/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicos/">

<xs:element name="verApto" type="tns:verApto"/>

<xs:element name="verAptoResponse" type="tns:verAptoResponse"/>

<xs:complexType name="verApto">
<xs:sequence>
<xs:element name="valor" type="xs:double"/>
<xs:element name="renda" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verAptoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>